/* ESTILO TABLET */
@media only screen and (min-width: 788px) and (max-width: 979px) {


/* QUALIDADE HOME */
.qualidade::after {
    right: 66px;
}

.qualidade_lista li {
    padding: 0 10px;
}

/* FOOTER */

.footer_redes ul li a {
    padding: 6px;
}

.footer_redes ul li a img {
    width: 26px;
    height: 26px;
}

/* PRODUTOS */

.produto-item h2 {
    top: -150px;
    margin-bottom: -56px;
}

.produto-icone {
    padding: 41px 0;
}

.produto-info p {
    font-size: 14px;
    line-height: 20px;
    height: 122px;
    padding: 20px 30px;
}

.produto-info ul li {
    width: 181px;
    height: 49px;
}

}
/* FINAL ESTILO TABLET */

/* ESTILO SMARTPHONE */
@media only screen and (max-width: 787px) {

/* HEADER */
.header {
    position: relative;
    padding-bottom: 0;
}

.header img {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: -25px;
    margin-right: auto;

}

.header_menu {
    text-align: center;
}

.header_menu ul li{
    margin: 5px;
}

.header_menu ul li a {
    border: 4px solid #000;
    width: 136px;
    display: block;
    float: left;
}

.header_menu ul li a:hover {
    border-color: #fff;
}

.header_menu ul li a.menu-ativo {
    border-color: #fff;
}

/* INTRODUÇÃO */

.introducao {
    margin-top: 0;
    padding-top: 40px;
    background: url("../img/bg-mobile.jpg") no-repeat center;
    background-size: cover;
}

.introducao h1 {
    font-size: 36px;
}

/* INTRODUÇÃO INTERNA */

.introducao-interna {
    margin-top: 0;
}

/* Call To Action */

.cta {
    padding-top: 10px;
}

/* QUALIDADE HOME */
.qualidade::after {
    display: none;
}

.qualidade_lista {
    overflow: hidden;
}

/* SOBRE */

.missao-sobre p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0;
}

.missao-sobre ul li {
    font-size: 14px;
    line-height: 25px;
}

/* PRODUTOS */

.produto-item h2 {
    top: -100px;
    margin-bottom: -68px;
}

.produto-icone {
    padding: 41px 0;
}

.produto-info p {
    font-size: 14px;
    line-height: 20px;
    height: auto;
    padding: 20px 30px;
}

.produto-info ul li {
    width: 149px;
    height: 49px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 14px;
}

.form {
    padding-right: 0;
}

.orcamento-dados ul {
    padding-right: 0;
}

/* CONTATO */

.contato-form {
    padding: 0;
    margin-bottom: 40px;
}

}